.detail {
  margin-bottom: 30px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }
  &__title {
    font-size: 35px;
    font-weight: 600;

    @media screen and (max-width: 992px) {
      font-size: 25px;
    }
  }
  &-controls {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      justify-content: center;
      width: 100%;
      margin-top: 15px;
    }
    &__item {
      margin-left: 30px;
      font-size: 17px;
      font-weight: 500;
      strong {
        font-weight: 400;
        opacity: 0.6;
      }
    }
  }
}
