.card {
  width: calc(33.33% - 20px);
  background: #fff;
  margin: 10px;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 0px 0px 3px rgba(28, 92, 144, 0.15);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.4s cubic-bezier(0.43, 0.05, 0.36, 0.89);
  max-width: 350px;
  height: 135px;

  &:hover {
    transform: scale(1.075);
    box-shadow: 0px 10px 20px rgba(12, 19, 70, 0.25);
  }

  @media screen and (max-width: 992px) {
    width: calc(50% - 20px);
  }

  @media screen and (max-width: 700px) {
    width: 100%;
  }

  &__title {
    color: #0088ff;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__desc {
    margin-bottom: 15px;
    opacity: 0.7;
    line-height: 1.3em;
  }
  &-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    font-weight: 500;
    strong {
      font-weight: 400;
      opacity: 0.5;
    }

    &__item {
      font-size: 14px;
    }
  }
}
